/* Import fonts from Google's API */
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Cardo');
@import url('https://fonts.googleapis.com/css2?family=Nanum Gothic Coding');
@import url('https://fonts.googleapis.com/css2?family=Sunflower');
@import url('https://fonts.googleapis.com/css2?family=Gowun Dodum');

.distill-site-header .logo img {
    max-height: 30px;
    width: auto;
  }
  


.distill-site-nav {
  font-family: 'Fira Mono', sans-serif;
  color: rgb(225, 177, 133);
  background-color: rgb(218, 234, 217);
  font-size: 20px;
  font-weight: 400;
}


.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}



.distill-site-header .title{
  font-family: 'Fira Mono', sans-serif;
  color: rgb(225, 177, 133);
  background-color: rgb(218, 234, 217);
  font-size: 20px;
  font-weight: 600;
}



.distill-site-nav a:hover {
    color: rgb(163, 104, 77);
    font-weight: 600;
}



.categories li > a:hover {
    color: rgb(139, 182, 196);
    font-weight: bold;
    border-bottom: 2px solid rgb(163, 104, 77); 
}


d-article a {
    border-bottom: 2px solid rgb(139, 182, 196);   
    text-decoration: none;
}


h1, h2, h3, h4, h5 {
    font-family: 'Sunflower', sans-serif;
    font-weight: 600;
}



html, body, p {
    
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-weight: 200;
    line-height: 1.3; 
    font-size: 1.0em;
    font-style: normal;
    
}



.posts-list .description p {
    font-family: 'Cardo', serif !important; 
    color: gray !important;
}




.posts-list .description h2 {
    font-family: 'Fira Mono', sans-serif;
}



.posts-list .metadata {
    font-family: 'Cardo', serif !important; 
    color: gray !important;
}



code {
  font-family: 'Gowun Dodum', sans-serif;
  background: rgba(227, 227, 227, 0.5);
  font-weight: bolder;
}




d-article pre code {
  
  background: none;

  
}
  
  
d-article div.sourceCode pre{
  
  overflow-x: auto !important;
  line-height: 1.45;
  background-color: rgba(227, 227, 227, 0.5)

}

d-article div.sourceCode code, d-article pre code {
  font-family: 'Fira Mono', sans-serif;
  font-size: 100%;
}

